.section {
    height: 100vh;
    background-image: url(../assets/images/bg-2.webp);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(34, 32, 32, 0.6);
    background-attachment: fixed;
    color: var(--theme-light);
}

.link:hover {
    cursor: pointer;
}

.section_content {
    max-width: 1000px;
    height: 90%;
    color: var(--theme-light);
}

.section_content h1 {
    font-size: 65px;
}