.section {
    height: 100vh;
    background-image: url(../assets/images/bg-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* color: #ffffff; */
}

.section_top {
    color: var(--theme-light);
}

.link:hover {
    cursor: pointer;
}

.section_bottom {
    max-width: 1200px;
    height: 80%;
    color: var(--theme-light);
}

.section_bottom h1 {
    font-size: 72px;
}