.line {
    max-width: 80px;
    background-color: var(--theme-primary);
    border: 1px solid var(--theme-primary);
}

.wheel_icon {
    width: 50px;
    height: 50px;
    background-color: var(--theme-primary);
    border: 3px solid var(--theme-light);
    border-radius: 100%;
}

/* About */
.about_section {
    padding: 80px 0px;
}

.about_section h2 {
    color: var(--theme-primary);
}

.about_section p {
    font-size: 18px;
}

/* How It Works */
.works_section {
    padding: 80px 0px;
    background-image: url(../assets/images/work.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(34, 32, 32, 0.6);
    color: var(--theme-light);
}

.works_section h2 {
    color: var(--theme-primary);
}

.works_section p {
    font-size: 18px;
}

/* Testimonials */
.testimonial_section {
    padding: 80px 0;
}

.testimonial_section h2 {
    color: var(--theme-primary);
}

.testimonial_section p {
    font-size: 18px;
}

.testimonial_content {
    max-width: 600px;
}

.customer_avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
}

/* Why people choose us */
.why_section {
    padding: 80px 0;
}

.why_section h2 {
    color: var(--theme-primary);
}
