.line {
    max-width: 80px;
    background-color: var(--theme-primary);
    border: 1px solid var(--theme-primary);
}

.wheel_icon {
    width: 50px;
    height: 50px;
    background-color: var(--theme-primary);
    border: 3px solid var(--theme-light);
    border-radius: 100%;
}

.transparent {
    background-color: transparent;
}

/* About */
.about_section {
    padding: 80px 0px;
}

.about_section h2 {
    color: var(--theme-primary);
}

.about_section p {
    font-size: 18px;
}

/* How It Works */
.works_section {
    padding: 80px 0px;
    background-image: url(../assets/images/work.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(34, 32, 32, 0.6);
    color: var(--theme-light);
}

.works_section h2 {
    color: var(--theme-primary);
}

.works_section p {
    font-size: 18px;
}

/* Testimonials */
.testimonial_section {
    padding: 80px 0;
}

.testimonial_section h2 {
    color: var(--theme-primary);
}

.testimonial_section p {
    font-size: 18px;
}

.testimonial_content {
    max-width: 600px;
}

.customer_avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
}

/* Why people choose us */
.why_section {
    padding: 80px 0 140px 0;
    /* background-image: url(../assets/images/bg-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: #c4afa3; */
    background-color: var(--theme-primary);
}

.why_section h2 {
    color: var(--theme-light);
}

/* Become a partner */
.partner_section {
    padding: 0 0 40px 0;
    background-image: url(../assets/images/bg-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.partner_content {
    background-color: var(--theme-light);
    padding: 50px 0;
    position: relative;
    top: -60px;
}

.bar {
    width: 10px;
    height: 100%;
    background-color: rgba(241, 241, 241, 0.7);
}

/* Footer Section */
.footer_section {
    padding: 80px 0;
    background-color: #333;
}

.footer_section h6 {
    color: var(--theme-light);
}

.footer_section p {
    color: #737373;
}

.footer_section hr {
    margin: 80px 0 40px 0;
}

.email {
    background-color: transparent;
}

.email:focus {
    background-color: transparent;
}

.email_send {
    background: var(--theme-primary);
    color: var(--theme-light);
}

.email_send a:hover {
    color: var(--theme-light);
}