.section {
    /* background-color: var(--theme-primary); */
    color: var(--theme-light);
    font-size: 18px;
}

.theme_primary {
    background-color: var(--theme-primary);
    animation-name: nav-fade-in;
    animation-duration: 4s;
}

.theme_primary a:hover {
    color: var(--theme-light);
}

/* @keyframes nav-fade-in {
    from {background-color: transparent;}
    to {background-color: var(--theme-primary);}
} */

@media only screen and (max-width: 991px) {
    .section {
        color: var(--theme-primary);
        font-size: 18px;
    }

    .section h4 {
        color: var(--theme-light);
    }
}